[submodule "lib/PubSubClient.git"]
	path = lib/PubSubClient.git
	url = https://github.com/knolleary/pubsubclient.git
[submodule "lib/duktape-releases.git"]
	path = lib/duktape-releases.git
	url = https://github.com/svaarala/duktape-releases.git
